<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="usingBasicHttp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2525/WeatherService" binding="basicHttpBinding"
                bindingConfiguration="usingBasicHttp" contract="WeatherService.IWeatherInfo"
                name="usingBasicHttp" />
        </client>
    </system.serviceModel>
</configuration>