
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome To Twitter Clone</h2>

<fieldset>
    <legend>Login</legend>
    <form method="post" action="Login">
        <table class="table table-bordered" style="width:300px">
            <tr>
                <td>Username</td>
                <td><input type="text" name="uname" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pwd" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SignIn" class="btn btn-primary" /></td>
            </tr>
            <tr>
                <td>New User ?</td>
                <td>@Html.ActionLink("SignUp", "Create","Person")</td>
            </tr>
        </table>
    </form>
</fieldset>

<span class="text-warning">@ViewData["err"]</span>

